Repository spellshift/realm, pull requests merged in 2023-10, with the labels that each got.

#306 Increase quest output drawer size
  tavern/internal/www/build/asset-manifest.json
  tavern/internal/www/build/index.html
  tavern/internal/www/build/static/css/main.d3a1f05a.css
  tavern/internal/www/build/static/css/main.d3a1f05a.css.map
  tavern/internal/www/build/static/css/main.f256fd21.css
  tavern/internal/www/build/static/css/main.f256fd21.css.map
  tavern/internal/www/build/static/js/main.0fb7e2ca.js
  tavern/internal/www/build/static/js/main.0fb7e2ca.js.LICENSE.txt
  tavern/internal/www/build/static/js/main.0fb7e2ca.js.map
  tavern/internal/www/build/static/js/main.d00b684e.js
  tavern/internal/www/build/static/js/main.d00b684e.js.LICENSE.txt
  tavern/internal/www/src/pages/quest-details/task-output/TaskOutput.tsx
Labels: Frontend

#304 302 imix sleep underflow
  implants/imix/src/main.rs
Labels: bug, imix

#309 Cleans up unwrap in pivot.port_scan
  implants/lib/eldritch/src/pivot/port_scan_impl.rs
Labels: bug, eldritch

#311 Resolve expect crashes
  implants/lib/eldritch/src/file/compress_impl.rs
  implants/lib/eldritch/src/file/download_impl.rs
  implants/lib/eldritch/src/file/list_impl.rs
  implants/lib/eldritch/src/file/replace_all_impl.rs
  implants/lib/eldritch/src/pivot/arp_scan_impl.rs
  implants/lib/eldritch/src/pivot/ncat_impl.rs
  implants/lib/eldritch/src/pivot/ssh_exec_impl.rs
  implants/lib/eldritch/src/process/list_impl.rs
  implants/lib/eldritch/src/sys/exec_impl.rs
  implants/lib/eldritch/src/sys/get_ip_impl.rs
  implants/lib/eldritch/src/sys/get_os_impl.rs
  implants/lib/eldritch/src/sys/shell_impl.rs
Labels: bug, eldritch

#328 Persist imix output through connection failuers
  implants/imix/src/main.rs
Labels: bug, imix

#312 Statically compile docs
  .gitignore
  docs/_docs/user-guide/imix.md
  implants/golem/embed_files_golem_prod/.gitkeep
  implants/lib/eldritch/Cargo.toml
Labels: documentation, imix

#313 Add user docs.
  docs/_docs/user-guide/tavern.md
Labels: documentation

#332 Implement process.name
  docs/_docs/user-guide/eldritch.md
  implants/lib/eldritch/src/process/name_impl.rs
Labels: hacktoberfest-accepted

#231 Implement sys.hostname()
  docs/_docs/user-guide/eldritch.md
  implants/lib/eldritch/src/sys.rs
  implants/lib/eldritch/src/sys/hostname_impl.rs
Labels: enhancement, eldritch

#337 Increase max size to 16MB
  tavern/internal/ent/migrate/schema.go
  tavern/internal/ent/schema/user.go
Labels: bug, tavern

#330 Add Netstat
  docs/_docs/user-guide/eldritch.md
  implants/Cargo.toml
  implants/lib/eldritch/Cargo.toml
  implants/lib/eldritch/src/lib.rs
  implants/lib/eldritch/src/process.rs
  implants/lib/eldritch/src/process/info_impl.rs
  implants/lib/eldritch/src/process/netstat_impl.rs
Labels: hacktoberfest-accepted

#334 269 add docs andor run time error for reserved names
  docs/_docs/user-guide/eldritch.md
Labels: documentation
