Repository spellshift/realm, pull requests merged in 2024-02, with the labels that each got.

#531 Build edge images on pushes to main
  .github/workflows/docker-dev.yml
Labels: tavern, dev-ops

#534 Also publish images to spellshift docker hub
  .github/workflows/docker-dev.yml
  .github/workflows/docker.yml
Labels: tavern, dev-ops

#549 [bug] Order docker registry logins in docker-dev.yml
  .github/workflows/docker-dev.yml
Labels: bug, dev-ops

#582 Fix implants windows release workflow
  .github/workflows/release.yml
Labels: bug, dev-ops

#627 626 support globbing in rust
  docs/_docs/user-guide/eldritch.md
  implants/Cargo.toml
  implants/lib/eldritch/Cargo.toml
  implants/lib/eldritch/src/file/list_impl.rs
  implants/lib/eldritch/src/file/mod.rs
  implants/lib/eldritch/src/file/read_impl.rs
Labels: eldritch

#672 fix(terms): Add description on pages, update links
  docs/_docs/user-guide/terminology.md
  tavern/internal/www/build/asset-manifest.json
  tavern/internal/www/build/index.html
  tavern/internal/www/build/static/js/main.23751e9e.js
  tavern/internal/www/build/static/js/main.23751e9e.js.LICENSE.txt
  tavern/internal/www/build/static/js/main.e4d206df.js
  tavern/internal/www/build/static/js/main.e4d206df.js.LICENSE.txt
  tavern/internal/www/src/components/page-wrapper/PageWrapper.tsx
  tavern/internal/www/src/pages/host-list/HostList.tsx
  tavern/internal/www/src/pages/quest-list/QuestList.tsx
  tavern/internal/www/src/pages/tasks/EditablePageHeader.tsx
  tavern/internal/www/src/pages/tasks/TaskPageHeader.tsx
  tavern/internal/www/src/pages/tomes/Tomes.tsx
  tavern/internal/www/src/pages/tomes/components/StepCreateRepository.tsx
  tavern/internal/www/src/utils/enums.ts
Labels: documentation, Frontend
